@charset "utf-8";
/* CSS Document */

@media print {
  html, body {
    display:none;  /* hide whole page */
  }
}
/* html base */
html, body, h1, h2, h3, h4, h5, h6, div, p, span, br, a, ul, ol, li, form, fieldset, legend, input, button, select, textarea, table, thead, tbody, tr, th, td, address, iframe, dl, dt, dd
	{margin:0; padding:0; font-size:11px; font-family:Tahoma, dotum, '돋움', sans-serif;}
/* html5 base */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
/* body base */
html, body {width:100%; height:100%;} 
body	{background:#fff;}

/* tag base */
address, em, dfn, var	{font-style:normal;}

legend, hr	{display:none;}
img {vertical-align:middle; border:none;}
fieldset {border:none;}
table {border-collapse:collapse;}
ul, li {list-style:none;}
label	{cursor:pointer;}

/* form base */
select {height:21px; line-height:19px; border:1px #d2d2d2 solid; color:#4b4b4b; vertical-align:middle; cursor:pointer;}
input[type=text], input[type=password]	{border:1px #d2d2d2 solid; height:19px; line-height:19px; vertical-align:middle;}
input.x-form-field.x-form-text {height:22px !important;}
textarea	{border:1px #d2d2d2 solid; line-height:19px; vertical-align:middle;}
input[type=checkbox], input[type=radio]	{width:12px; height:12px; vertical-align:middle;}
label	{vertical-align:middle;}

/* link base */
a {text-decoration:none;}
a:hover	{}

/* plus css */
.haze {position:absolute; top:0; left:0; width:0; left:0; font-size:0; visibility:hidden; display:none;}
.kr	{font-family:dotum, '돋움'; vertical-align:middle; line-height:1.2em; color:#444;}
.arial	{font-family:Arial; vertical-align:middle; line-height:1.2em; color:#444;}

/* align type */
.txt_left	{text-align:left !important;}
.txt_right	{text-align:right !important;}
.txt_center	{text-align:center !important;}
.fL		{float:left !important;}
.fR		{float:right !important;}

/* position */
.relative	{position:relative;}
.absolute	{position:absolute;}

/* padding type */
.pL0	{padding-left:0 !important;}				.pR0	{padding-right:0 !important;}				.pT0	{padding-top:0 !important;}				.pB0	{padding-bottom:0 !important;}
.pL5	{padding-left:5px !important;}			.pR5	{padding-right:5px !important;}			.pT5	{padding-top:5px !important;}			.pB5	{padding-bottom:5px !important;}
.pL10	{padding-left:10px !important;}			.pR10	{padding-right:10px !important;}		.pT10	{padding-top:10px !important;}			.pB10	{padding-bottom:10px !important;}
.pL15	{padding-left:15px !important;}			.pR15	{padding-right:15px !important;}		.pT15	{padding-top:15px !important;}			.pB15	{padding-bottom:15px !important;}
.pL20	{padding-left:20px !important;}			.pR20	{padding-right:20px !important;}		.pT20	{padding-top:20px !important;}			.pB20	{padding-bottom:20px !important;}
.pL25	{padding-left:25px !important;}			.pR25	{padding-right:25px !important;}		.pT25	{padding-top:25px !important;}			.pB25	{padding-bottom:25px !important;}
.pL30	{padding-left:30px !important;}			.pR30	{padding-right:30px !important;}		.pT30	{padding-top:30px !important;}			.pB30	{padding-bottom:30px !important;}
.pL40	{padding-left:40px !important;}			.pR40	{padding-right:40px !important;}		.pT40	{padding-top:40px !important;}			.pB40	{padding-bottom:40px !important;}
.pL45	{padding-left:45px !important;}			.pR45	{padding-right:45px !important;}		.pT45	{padding-top:45px !important;}			.pB45	{padding-bottom:45px !important;}

/* margin type */
.mL0	{margin-left:0 !important;}					.mR0	{margin-right:0 !important;}				.mT0	{margin-top:0 !important;}					.mB0	{margin-bottom:0!important;}
.mL5	{margin-left:5px !important;}				.mR5	{margin-right:5px !important;}			.mT5	{margin-top:5px !important;}				.mB5	{margin-bottom:5px !important;}
.mL10{margin-left:10px !important;}			.mR10{margin-right:10px !important;}			.mT10{margin-top:10px !important;}			.mB10{margin-bottom:10px !important;}
.mL15{margin-left:15px !important;}			.mR15{margin-right:15px !important;}			.mT15{margin-top:15px !important;}			.mB15{margin-bottom:15px !important;}
.mL20{margin-left:20px !important;}			.mR20{margin-right:20px !important;}			.mT20{margin-top:20px !important;}			.mB20{margin-bottom:20px !important;}
.mL25{margin-left:25px !important;}			.mR25{margin-right:25px !important;}			.mT25{margin-top:25px !important;}			.mB25{margin-bottom:25px !important;}
.mL30{margin-left:30px !important;}			.mR30{margin-right:30px !important;}			.mT30{margin-top:30px !important;}			.mB30{margin-bottom:30px !important;}
.mL35{margin-left:35px !important;}			.mR35{margin-right:35px !important;}			.mT35{margin-top:35px !important;}			.mB35{margin-bottom:35px !important;}
.mL40{margin-left:40px !important;}			.mR40{margin-right:40px !important;}			.mT40{margin-top:40px !important;}			.mB40{margin-bottom:40px !important;}
.mL45{margin-left:45px !important;}			.mR45{margin-right:45px !important;}			.mT45{margin-top:45px !important;}			.mB45{margin-bottom:45px !important;}
.mL45{margin-left:45px !important;}			.mR45{margin-right:45px !important;}			.mT140{margin-top:140px !important;}			.mB45{margin-bottom:45px !important;}
